doctype html
html(lang="en")
  head
    title Charles Julian Knight
    //- link(rel="stylesheet" href="")
  body
    .header
      .block1
        .name Charles Julian Knight
        a.email(href="charles@rabidaudio.com") charles@rabidaudio.com
        ul.links
          li
            a(href="http://www.linkedin.com/in/charlesjulianknight") linkedin.com/in/charlesjulianknight
          li
            a(href="http://github.com/rabidaudio") github.com/rabidaudio
          li
            a(href="http://rabid.audio/blog") rabid.audio/blog
      .block2.
          330 Valley Green Dr. NE 
          Atlanta, GA 30342
          404 316 3749

    .content

      section.education
        h1 Education
        ul

          li.row
            .date Fall 2012 - Spring 2015
            .degree B.S. in Electrical Engineering
            .school Georgia Institute of Technology
            .location Atlanta, GA

          li.row
            .date Fall 2009 - Spring 2012
            .degree B.A. Dual-Degree Program
            .school Berry College
            .location Rome, GA

      section.skills
        h1 Technical Skills
